In [26]:
import pandas as pd

In [27]:
quora = pd.read_csv("F:\\Datasets\\quora_questions.csv")

In [28]:
quora

                                                 Question
0       What is the step by step guide to invest in sh...
1       What is the story of Kohinoor (Koh-i-Noor) Dia...
2       How can I increase the speed of my internet co...
3       Why am I mentally very lonely? How can I solve...
4       Which one dissolve in water quikly sugar, salt...
...                                                   ...
404284  How many keywords are there in the Racket prog...
404285          Do you believe there is life after death?
404286                                  What is one coin?
404287  What is the approx annual cost of living while...
404288              What is like to have sex with cousin?

[404289 rows x 1 columns]

In [29]:
len(quora)

404289

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [31]:
tf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')

In [32]:
dtm = tf.fit_transform(quora.Question)

In [33]:
dtm

<404289x38669 sparse matrix of type '<class 'numpy.float64'>'
	with 2002912 stored elements in Compressed Sparse Row format>

In [34]:
len(tf.get_feature_names())

38669

In [35]:
from sklearn.decomposition import NMF

In [36]:
nmf_model = NMF(n_components=7,random_state=42)

In [37]:
nmf_model.fit(dtm)

NMF(n_components=7, random_state=42)

In [38]:
nmf_model.components_.shape

(7, 38669)

In [39]:
for index,topic in enumerate(nmf_model.components_):
    print(f"currently at topic #{index}")
    print([tf.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print("\n")
    print("\n")

currently at topic #0
['phone', 'india', 'lose', 'buy', 'laptop', 'time', 'movie', 'ways', '2016', 'weight', 'books', 'book', 'movies', 'way', 'best']




currently at topic #1
['new', 'compare', 'look', 'cost', 'really', 'girl', 'love', 'long', 'sex', 'time', 'work', 'feel', 'like', 'mean', 'does']




currently at topic #2
['post', 'answered', 'use', 'improvement', 'delete', 'easily', 'asked', 'google', 'answer', 'answers', 'ask', 'question', 'questions', 'people', 'quora']




currently at topic #3
['easiest', 'rupee', 'home', 'easy', 'notes', '1000', '500', 'black', 'youtube', 'ways', 'way', 'earn', 'online', 'make', 'money']




currently at topic #4
['moment', 'live', 'employees', 'like', 'want', 'real', 'love', 'things', 'day', 'important', 'thing', 'know', 'meaning', 'purpose', 'life']




currently at topic #5
['election', 'war', '1000', 'people', 'notes', '500', 'win', 'think', 'did', 'hillary', 'clinton', 'president', 'donald', 'trump', 'india']




currently at topic #6
['speaking', 'languages', 'writing', 'java', 'speak', 'learning', 'skills', 'start', 'way', 'good', 'improve', 'programming', 'language', 'english', 'learn']

In [40]:
topic_result = nmf_model.transform(dtm)

In [41]:
topic_result.shape

(404289, 7)

In [42]:
quora['Topic_Label'] = topic_result.argmax(axis=1)

In [43]:
quora

                                                 Question  Topic_Label
0       What is the step by step guide to invest in sh...            5
1       What is the story of Kohinoor (Koh-i-Noor) Dia...            4
2       How can I increase the speed of my internet co...            3
3       Why am I mentally very lonely? How can I solve...            1
4       Which one dissolve in water quikly sugar, salt...            1
...                                                   ...          ...
404284  How many keywords are there in the Racket prog...            6
404285          Do you believe there is life after death?            4
404286                                  What is one coin?            5
404287  What is the approx annual cost of living while...            5
404288              What is like to have sex with cousin?            1

[404289 rows x 2 columns]

In [44]:
dict = {0:'electronics',1:'Life',3:'searching',4:'Youtuber',5:'business',6:'election',7:"programming language"}
quora['topic_description'] = quora.Topic_Label.map(dict)

In [45]:
quora

,Question,Topic_Label,topic_description
0,What is the step by step guide to invest in sh...,5,business
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,4,Youtuber
2,How can I increase the speed of my internet co...,3,searching
3,Why am I mentally very lonely? How can I solve...,1,Life
4,"Which one dissolve in water quikly sugar, salt...",1,Life
...,...,...,...
404284,How many keywords are there in the Racket prog...,6,election
404285,Do you believe there is life after death?,4,Youtuber
404286,What is one coin?,5,business
404287,What is the approx annual cost of living while...,5,business
404288,What is like to have sex with cousin?,1,Life