In [1]:
import numpy as np
import pandas as pd

In [2]:

df =  pd.read_csv("F:\\Datasets\\Text Data\\moviereviews2.tsv", sep='\t')

In [3]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [4]:
import nltk

In [5]:
from nltk.sentiment.vader import  SentimentIntensityAnalyzer

In [6]:
sid = SentimentIntensityAnalyzer()

In [7]:
df.isnull().sum()

label      0
review    20
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
blanks=[]
for i, lb , rv in df.itertuples():
    if type(rv)==str:
        if rv.isspace():
            blanks.append(i)

In [10]:
blanks

[]

In [12]:
df.label.value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

In [13]:
df['score'] = df.review.apply(lambda x:sid.polarity_scores(x))

In [14]:
df['compound_score'] = df.score.apply(lambda d:d['compound'])

In [15]:
df.head()

,label,review,score,compound_score
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co...",0.8720
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co...",0.9549
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co...",0.7201
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co...",-0.9821
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co...",0.9874

In [16]:
df['comp_score'] = df.compound_score.apply(lambda t:'pos' if t>=0 else 'neg')

In [17]:
df.head()

,label,review,score,compound_score,comp_score
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co...",0.8720,pos
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co...",0.9549,pos
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co...",0.7201,pos
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co...",-0.9821,neg
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co...",0.9874,pos

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [19]:
accuracy_score(df.label,df.comp_score)

0.7322742474916388

In [20]:
print(confusion_matrix(df.label,df.comp_score))

[[1734 1256]
 [ 345 2645]]

In [21]:
print(classification_report(df.label,df.comp_score))

              precision    recall  f1-score   support

         neg       0.83      0.58      0.68      2990
         pos       0.68      0.88      0.77      2990

    accuracy                           0.73      5980
   macro avg       0.76      0.73      0.73      5980
weighted avg       0.76      0.73      0.73      5980